 <% include ../partials/header %>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tittle</th>
            <th>firstname</th>
            <th>lastname</th>
        </tr>
    </thead>
    <tbody>
     <% subjects.forEach(function(subject){ %>
        <tr>
            <td scope="row"><%=subject.sid %></td>
            <td><%=subject.title %></td>
            <td><%=subject.firstname %></td>
            <td><%=subject.lastname %></td>
        </tr>
      <% }); %>
    </tbody>
</table>





  <% include ../partials/footer %>